
.headline {
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color:#0D346C;
    margin: 10px 0px 0px 0px;
    font-weight:500;
}


body {
    margin: auto;
    font-family: 'Lato', sans-serif;
    color: #171818;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, .1) 0 0 1px;
    display: flex;
    flex-direction: column;

}


.headline {
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color:#0D346C;
    margin: 10px 0px 0px 0px;
    font-weight:500;
}

.subheader {
    font-size: 1.3em;
    font-family: 'Fjalla One', sans-serif;
    color:#48A9A6;
    text-transform: uppercase;
    margin: 0px 0px 25px 0px;
    font-weight: 500;
}

button {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: #348CFB;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    padding: 10px 30px 10px 30px;
    font-weight: 500;
    margin-top: 30px;
}

.article {
    width: 28%;
    margin: 30px 0px 10px 10px;
    padding: 20px 20px 20px 0px;
    border: 1px solid #48A9A6;
    border-radius: 13px;
}

.text {
    font-size: .9em;
}

#nav {
    width: 100%;
    background-color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 20px 0px 0px 120px;
    position: fixed;
    top:0;
    box-shadow: 0 2px 3px -2.5px rgb(118, 137, 160);
    z-index: 10000;


}

#banner {
    max-height: 50vh;

}

#header {
    margin-top:12vh;
    display: relative;
    background-image: url("pa_banner_4.png");
    height: 50vh;
    background-size: cover;
    
}


#stat-container {
    text-align: center;
}

#stats {
    display: flex;
    flex-direction: row;
    height: 30vh;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.stat {
    margin: 40px 90px 40px 90px;
    width: 16%;
}

.stat-title {
    display: flex;
    flex-direction: row;
}

.stat-number {
    font-size: 2.2em;
    margin: 19px 0px 20px 24px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.stat-text {
    font-size: 1.13em;
    width: 87%;
    text-align: left;

}

#logo {
    max-height: 7vh;
    image-rendering: crisp-edges;
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
}

#logo2 {
    background-image: url("logo1a\ yt.png");
    background-size: cover;
    position: relative;
    z-index: 100000000;
    max-height: 52.68px;
    width: 172px;
    color: blue;
}

#pages {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    min-width: calc(100vw - 350px);
    left: 350px;
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    color: #0D346C;
    font-family: 'Fjalla One', sans-serif ;
    text-transform: uppercase;

  
}

.nav-page {
    margin: 20px 20px 0px 60px;
}

.nav-page a:hover {
    color: #348CFB
}

.nav-page a {
    text-decoration: none;
    color:#0D346C;
}

#end {
    margin-right: 120px;
}


@keyframes slideInFromLeft {
    0% {
        visibility: hidden;
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
    visibility: visible;
      transform: translateX(0);
      opacity: 1;
    }
  } 

  @keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
  } 


#h-headline, #h-aricle, #h-text {
         /* This section calls the slideInFromLeft animation we defined above */
         animation: 1.5s ease-out 0s 1 slideInFromLeft;
  
}


#h-headline {
    color:white;
    font-size: 2.4em;

}



#h-article {
    width: 45%;
    max-height: 20vh;
    padding: 0px;
    margin: 70px 0px 0px 120px;
    border: none;


}

#h-text {
    
    margin-top: 23px;
    color: white;
    font-size: 1.2em;
    max-width: 90%;
}

#h-button {
    visibility: hidden;
    background-color: #48A9A6;
    margin-top: 60px;
    font-size: 1.5em;
    padding: 13px 53px 13px 53px;
    animation: 1.6s ease-in 1.6s 1 fadeIn;
    animation-fill-mode: forwards;
    
}

i {
    color:#48A9A6;
}

#testimonial-grid {
    background-color: #E8F1FC;
    display: flex;
    padding: 50px;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
   
    
}



.testimonial {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 30px 20px;
    color:#0D346C;
    padding: 30px 60px 30px 60px;
    background-color: white;
    border-radius: 20px;
    width: 20%;
    height:200px;
    justify-content: center;
    align-items: center;

}

#testimonials-landing {
    background-color: #E8F1FC;
    display: flex;
    padding: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.testimonial-landing {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
    color:#0D346C;
    padding: 30px 60px 30px 60px;
    background-color: white;
    border-radius: 20px;

}

.testimonial-landing i {
    
    text-align: center;
    margin-bottom: 20px;
}

#footer {
    color: white;
    background-color: #0D346C;
    height: 5vh;
    padding: 15vh 0px 0px 70px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #348CFB;
    border-radius: 8px;
    border: 5px solid transparent;
    background-clip: content-box;
}

#video-container {
    display: flex;
    flex-direction: row;
    padding: 120px;
}

#v-article {
    margin-left: 100px;
    margin-top: 0px;
    padding-top: 0px;
    border: none;
    width: 60%;
}

#v-headline {
    font-size: 2em;

}

#v-text {
    margin-top: 20px;
    font-size: 1em;
}

#benefits {
    display: flex;
    flex-direction: column;
    padding: 120px;
    padding-top: 60px;
    justify-content: center;
    text-align: center;
    
}

.fa-check {
    color:#348CFB;
    margin-right: 5px;
}

#list {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 40px;

}

.first-list {
    flex: 1;
    border: solid black 0px;
    list-style: none;
    text-align: left;
    font-size: 1.2em;
    margin: 0px;

}


.benefit-list {
    padding: 10px;

    margin-bottom: 20px;
 
}

#summary {
    background-color: #E8F1FC;
    padding: 100px 120px 100px 120px;
}

#about-container #summary-text {
    margin-top: 30px;
    font-size: 1.1em;
}
#summary-text {
    font-size: 1.2em;
    margin-left: 60px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#summary-text button {
    max-width: 20%;
}

#summary-headline {
    margin-bottom: 40px;
}

#image-and-text {
    display: flex;
    flex-direction: row;
}

#about {
    margin-top:12vh;
   
}

#about-info {
 
    max-width: 90%;
    padding: 100px 120px 100px 120px;


}


#a-text {
    margin-top: 20px;
    font-size: 1.1em;
    max-width: 70%;

}

#about-mike {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#about-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

#about-image {
   
    margin-left: 40px;
    width: 20%;
    max-height: 80%;
    background-image: url("Spirakis\ Headshot.jpg");
    background-size:cover;
}

#a-video-container {
    margin-top: 60px;
    background-color:#0D346C;
    display: flex;
    flex-direction: row;
    padding: 120px;
}

#a-v-headline {
    color:white;
    font-size: 2em;
}

#a-v-text {
    color: white;
    margin-top: 20px;
    font-size: 1em;
}

#contact {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0px 0px 0px 20px;
}


input {
    margin: 10px 0px 10px 0px;
    width: 250%;
    height: 30px;
}


#contact-container
{
    margin: 17vh 0px 0px 120px;
    background-color: white;
    border-radius: 30px;
    width: 40%;
    padding: 40px 0px 60px 40px;

}

#contact-headline {
    margin: 20px 0px 40px 20px;

}

#contact-body {
    background-color: #0D346C;
}

#services-header {
    margin-top:12vh;
    display: relative;
    background-image: url("pa_bg_2_cropped_2.png");
    height: 45vh;
    background-size: cover;
    text-align: center;
    justify-content: center;
}

#services-text {
        
    margin-top: 30px;
    color: white;
    font-size: 1.5em;
    max-width: 100%;
    
    
}

#services-headline {

    color:white;
    font-size: 4.2em;
   
}

#services-article {
    width: 100%;
    max-height: 20vh;
    padding: 0px;
    margin: 100px 0px 0px 0px;
    border: none;
    text-align: center;
  
}

#services-container {
    margin: 30px 120px 70px 120px;
}

#services-container .headline {
    color:#0D346C;
    margin-bottom: 30px;
    margin-top: 60px;
}

#services-container .text {
    font-size: 1.1em;
}

.agenda-headline {
    font-size: 1.3em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color:#48A9A6;
    margin: 20px 0px 20px 0px;
    font-weight:500;
}

#services-agenda {
    border: 1px solid #48A9A6;
    border-radius: 30px;
    padding: 30px;
    margin-top: 60px;
}

#services-agenda .headline {
    margin-top: 0px;
}

#services-includes
{
    margin-top: 60px;
}

.green {
    background-color: #48A9A6;
}
.unformatted {
    list-style: none;
}

button:hover {
    background-color: white;
    border:1px solid #348CFB;
    color: #348CFB;
    cursor: pointer;
}

#h-button:hover {
    background-color: white;
    border:1px solid #348CFB;
    color: #348CFB;
    cursor: pointer;
}

#testimonials-container {
   margin: 100px 120px 100px 120px;
    
    color: #0D346C;
}

.c-headline {
    text-align: center;
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color:#0D346C;
    margin: 10px 0px 0px 0px;
    font-weight:500;
}

#testimonials {
    margin-top: 12vh;
    margin: 100px 120px 100px 120px;
    
}



