
.headline {
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color:#0D346C;
    margin: 10px 0px 0px 0px;
    font-weight:500;
}


body {
    margin: auto;
    font-family: 'Lato', sans-serif;
    color: #171818;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, .1) 0 0 1px;
    display: flex;
    flex-direction: column;

}


.headline {
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color:#0D346C;
    margin: 10px 0px 0px 0px;
    font-weight:500;
}

.subheader {
    font-size: 1.3em;
    font-family: 'Fjalla One', sans-serif;
    color:#48A9A6;
    text-transform: uppercase;
    margin: 0px 0px 25px 0px;
    font-weight: 500;
}

button {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: #348CFB;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    padding: 10px 30px 10px 30px;
    font-weight: 500;
    margin-top: 30px;
}

.article {
    width: 28%;
    margin: 30px 0px 10px 10px;
    padding: 20px 20px 20px 0px;
    border: 1px solid #48A9A6;
    border-radius: 13px;
}

.text {
    font-size: .9em;
}

#nav {
    width: 100%;
    background-color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 20px 0px 0px 120px;
    position: fixed;
    top:0;
    border-bottom: solid #0D346C;


}

#banner {
    max-height: 50vh;

}

#header {
    margin-top:12vh;
    display: relative;
    background-image: url("pa_bg_2_cropped_2.png");
    height: 50vh;
    background-size: cover;
    
}

#stat-container {
    text-align: center;
}

#stats {
    display: flex;
    flex-direction: row;
    height: 30vh;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.stat {
    margin: 40px 90px 40px 90px;
    width: 16%;
}

.stat-title {
    display: flex;
    flex-direction: row;
}

.stat-number {
    font-size: 2.2em;
    margin: 19px 0px 20px 24px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.stat-text {
    font-size: 1.13em;
    width: 87%;
    text-align: left;

}

#logo {
    max-height: 7vh;
    image-rendering: crisp-edges;
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
}

#pages {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    min-width: calc(100vw - 350px);
    left: 350px;
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    color: #0D346C;
    font-family: 'Fjalla One', sans-serif ;
    text-transform: uppercase;

  
}

.nav-page {
    margin: 20px 20px 0px 60px;
}

.nav-page a:hover {
    color: #348CFB
}

.nav-page a {
    text-decoration: none;
    color:#0D346C;
}

#end {
    margin-right: 120px;
}

#h-headline {
    color:white;
    font-size: 2.4em;
}

#h-article {
    width: 50%;
    max-height: 20vh;
    padding: 0px;
    margin: 70px 0px 0px 120px;
    border: none;


}

#h-text {
    
    margin-top: 23px;
    color: white;
    font-size: 1.2em;
    max-width: 90%;
}

#h-button {
    background-color: #48A9A6;
    margin-top: 60px;
    font-size: 1.5em;
    padding: 13px 53px 13px 53px;
}

i {
    color:#48A9A6;
}

#testimonials {
    background-color: #E8F1FC;
    display: flex;
    padding: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.testimonial {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
    color:#0D346C;
    padding: 30px 60px 30px 60px;
    background-color: white;
    border-radius: 20px;

}

.testimonial i {
    text-align: center;
    margin-bottom: 20px;
}

#footer {
    color: white;
    background-color: #0D346C;
    height: 5vh;
    padding: 15vh 0px 0px 70px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #348CFB;
    border-radius: 8px;
    border: 5px solid transparent;
    background-clip: content-box;
}

#video-container {
    display: flex;
    flex-direction: row;
    padding: 120px;
}

#v-article {
    margin-left: 100px;
    margin-top: 0px;
    padding-top: 0px;
    border: none;
    width: 60%;
}

#v-headline {
    font-size: 2em;

}

#v-text {
    margin-top: 20px;
    font-size: 1em;
}

#about {
    margin-top:12vh;
}

#about-info {
    margin: 120px;
    max-width: 40%;
}
#a-headline {
    font-size: 2.5em;
}

#a-text {
    margin-top: 20px;
    font-size: 1.1em;
}

#about-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#about-image {
    margin-top: 120px;
    background-color:#48A9A6;
    width: 70vh;
    height: 50vh;
}
